.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background:snow;
}


.cardContainer{
  height: 80vh;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  width: 80vw;
  background: white;
  box-shadow: 10px 10px 15px rgb(173, 173, 173);
}

.cardContainer_left{
  flex: 0.6;
  padding: 2rem;
  text-align: center;
}

.cardContainer_right{
  flex: 0.4;
  background : rgba(181, 16, 223, 0.767);
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap : 1.3rem;
  padding: 1.2rem;
}

.cardLeft_heading{
  font-size: 1.8rem;
  color: black;
  font-weight: 700;
}

.inputContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 1.3rem;
  max-width: 400px;
  margin : 0 auto;
  gap: 1.5rem;
}

.intputRow{
  display: flex;
 
  gap: 1.3rem;
}
.inputField{
  padding-inline: 1.3rem;
  padding-block: 0.8rem;
  outline: none;
  border-radius: 10px;
  border: 1px solid silver;
  width: 100%;
}

.buttonWithOutline{
  padding-inline: 1rem;
  padding-block: 0.7rem;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  background: silver;
}
@media only screen and (max-width : 600px){
  .cardContainer{
    flex-direction: column;
  }
}

