
.homeContainer{
  display: flex;
}

.homeContainer > div:nth-child(odd){
  flex: 0.2;
}

.homeContainer > div:nth-child(even){
  flex: 0.6;
}
.homeContainer_leftBar{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  border-right: 1px solid rgb(222, 222, 222);
  align-items: start;
}


.singleNavItemHolder_mobileView svg{
  height: 2.2rem;
  width: 2.2rem;
  
}
.sideBarOption{
  display: flex;
  font-size: 1.1rem;
  align-items: center;
  gap: 1.2rem;
  width: 80%;
  min-width: 80%;
  max-width: 80%;
  margin: 0 auto;
  cursor: pointer;
  transform: all 0.2s;
}
.sideBarOption:hover{
  transform: scale(1.04);
}
.sideBarOption > svg{
  height: 1.4em;
  min-width: fit-content;
}

.homeContainer_feedContainer{
  padding: 0.4rem;
}
.homeContainer_extraContainer{
  border-left: 1px solid rgb(222, 222, 222);
  padding-inline: 0.8rem ;
}

.mobileNavBar{
  position: fixed;
  bottom:0;
  left: 0;
  width: 100vw;
  height: 6vh;
  display: none;
  justify-content: space-around;
  background: white;
  align-items: center;

}
@media only screen and (max-width: 600px){
  .homeContainer_extraContainer{
    display: none;
  }

  .homeContainer{
    display: block;
  }

  .mobileNavBar{
    display: flex;
  }
}

